
@{
    ViewData["Title"] = "Contato ▪";
}

<section class="contatosection container-fluid">
    <div class="container">
        <h2>Contato</h2>

        <div class="row">
            <div class="col-lg col-md-12 col-sm-12">
                <h4>Televendas</h4>
                <p><i class="bi bi-headset"></i> Central: (11) XXXX-XXXX</p>
                <p><i class="bi bi-whatsapp"></i> WhatsApp: (11) 9XXXX-XXXX</p>
                <small><p>Segunda à Sábado: 09h às 21h</p></small>
            </div>
            <div class="col-lg col-md-12 col-sm-12">
                <h4>E-mail</h4>
                <p><i class="bi bi-envelope"></i> Qualquer dúvida, pode enviar uma mensagem para duvidas@dejotatur.com.</p>
                <p><i class="bi bi-envelope-plus"></i> Para reserva de grupos (+9 viajantes), pode enviar uma mensagem para grupos@dejotatur.com.</p>
            </div>
        </div>
    </div>
</section>

<footer class="footer1 container-fluid justify-content-center align-items-center">
        <div class="container py-5">
          <div class="row">
            <div class="col-lg col-md-12 col-sm-12">
              <a class="d-inline-flex" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/Img/DejotaTur Logo.svg" alt="" width="50%">
              </a>
              <ul class="list-unstyled small text-muted">
                <li>
                  © 2021 DejotaTur LTDA. Todos os direitos reservados.
                </li>
              </ul>
            </div>
            <div class="col-lg col-md-12 col-sm-12" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a  asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a  asp-area="" asp-controller="Destinos" asp-action="Index">Destinos</a></li>
                <li class="breadcrumb-item"><a  asp-area="" asp-controller="Home" asp-action="Promoções">Promoções</a></li>
                <li class="breadcrumb-item" aria-current="page">Contato</li>
              </ol>
            </div>
            <div class="col-lg col-md-12 col-sm-12 row text-end">
              <a href="#" class="col-2 link-secondary socialmedia"><i class="bi bi-instagram"></i></a>
              <a href="#" class="col-2 link-secondary socialmedia"><i class="bi bi-twitter"></i></a>
              <a href="#" class="col-2 link-secondary socialmedia"><i class="bi bi-youtube"></i></a>
            </div>
          </div>
        </div>
  </footer>