
@{
    ViewData["Title"] = "Promoções ▪";
}

<section class="container-fluid section1">
    <div class="container">
        <h2>Pacotes e Promoções</h2>
    <br>
        <div class="row g-0">
        <div class="col-lg col-md-12 col-sm-12 card mb-3 divCards" style="max-width: 400px;">
            <div class="row g-0">
                <div class="col-md">
            <img src="~/Img/card-japan-luke-stackpoole-unsplash.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h6 class="card-title">Tóquio (JP) <img src="~/Img/icon.japao.png"/></h6>
              <p class="card-text"><i class="bi bi-calendar-week"></i> 7 diárias
              <br><i class="bi bi-person"></i> 1 pessoa
              <br><img src="~/Img/airplanemode_active_black_18dp.svg" alt=""> Aéreo incluso</p>
              <small class="text-muted">a partir de </small><small class="text-muted txtriscado">R$ 9.038</small>
              <h5 class="card-text promo">R$ 6.498</h5>
              <a class="alert-light alert-link" href="#">Programar <i class="bi bi-arrow-right-square-fill"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 col-sm-12 card mb-3 divCards" style="max-width: 400px;">
        <div class="row g-0">
          <div class="col-md">
            <img src="~/Img/card-greece-tania-mousinho-unsplash.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h6 class="card-title">Santorini (GR) <img src="~/Img/icon.grecia.png"/></h6>
              <p class="card-text"><i class="bi bi-calendar-week"></i> 7 diárias
              <br><i class="bi bi-people"></i> 2 pessoas
              <br><img src="~/Img/airplanemode_active_black_18dp.svg" alt=""> Aéreo incluso</p>
              <small class="text-muted">a partir de </small><small class="text-muted txtriscado">R$ 14.654</small>
              <h5 class="card-text promo">R$ 10.879</h5>
              <a class="alert-light alert-link" href="#">Programar <i class="bi bi-arrow-right-square-fill"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 col-sm-12 card mb-3 divCards" style="max-width: 400px;">
        <div class="row g-0">
          <div class="col-md">
            <img src="~/Img/card-noronha-rodolfo-barreto-unsplash.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h6 class="card-title">F. de Noronha <img src="~/Img/icon.brasil.png"/></h6>
              <p class="card-text"><i class="bi bi-calendar-week"></i> 4 ou 7 diárias
              <br><i class="bi bi-people"></i> 2 pessoas
              <br><img src="~/Img/airplanemode_inactive_black_18dp.svg" alt=""> Aér. não incluso</p>
              <small class="text-muted">a partir de </small><small class="text-muted txtriscado">R$ 2.264</small>
              <h5 class="card-text promo">R$ 1.879</h5>
              <a class="alert-light alert-link" href="#">Programar <i class="bi bi-arrow-right-square-fill"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-0">
        <div class="col-lg col-md-12 col-sm-12 card mb-3 divCards" style="max-width: 400px;">
            <div class="row g-0">
                <div class="col-md">
            <img src="~/Img/san_andres-darren-lawrence-unsplash.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h6 class="card-title">San Andrés (CO) <img src="~/Img/icon.colombia.png"/></h6>
              <p class="card-text"><i class="bi bi-calendar-week"></i> 7 diárias
              <br><i class="bi bi-person"></i> 1 pessoa
              <br><img src="~/Img/airplanemode_active_black_18dp.svg" alt=""> Aéreo incluso</p>
              <small class="text-muted">a partir de </small><small class="text-muted txtriscado">R$ 6.198</small>
              <h5 class="card-text promo">R$ 4.398</h5>
              <a class="alert-light alert-link" href="#">Programar <i class="bi bi-arrow-right-square-fill"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 col-sm-12 card mb-3 divCards" style="max-width: 400px;">
        <div class="row g-0">
          <div class="col-md">
            <img src="~/Img/card-lençóis-marcus-dall-col-unsplash.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h6 class="card-title">L. Maranhenses <img src="~/Img/icon.brasil.png"/></h6>
              <p class="card-text"><i class="bi bi-calendar-week"></i> 5 diárias
              <br><i class="bi bi-person"></i> 1 pessoa
              <br><img src="~/Img/airplanemode_active_black_18dp.svg" alt=""> Aéreo incluso</p>
              <small class="text-muted">a partir de </small><small class="text-muted txtriscado">R$ 1.267</small>
              <h5 class="card-text promo">R$ 979</h5>
              <a class="alert-light alert-link" href="#">Programar <i class="bi bi-arrow-right-square-fill"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-12 col-sm-12 card mb-3 divCards" style="max-width: 400px;">
        <div class="row g-0">
          <div class="col-md">
            <img src="~/Img/ushuaia-diogo-hungria-unsplash.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h6 class="card-title">Ushuaia (AR) <img src="~/Img/icon.argentina.png"/></h6>
              <p class="card-text"><i class="bi bi-calendar-week"></i> 4 ou 6 diárias
              <br><i class="bi bi-person"></i> 1 pessoa
              <br><img src="~/Img/airplanemode_inactive_black_18dp.svg" alt=""> Aér. não incluso</p>
              <small class="text-muted">a partir de </small><small class="text-muted txtriscado">R$ 5.064</small>
              <h5 class="card-text promo">R$ 4.579</h5>
              <a class="alert-light alert-link" href="#">Programar <i class="bi bi-arrow-right-square-fill"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<footer class="container-fluid footer1">
        <div class="container py-5">
          <div class="row">
            <div class="col-lg-4">
              <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/Img/DejotaTur Logo.svg" alt="" width="50%">
              </a>
              <ul class="list-unstyled small text-muted">
                <li>
                  © 2021 DejotaTur LTDA. Todos os direitos reservados.
                </li>
              </ul>
            </div>
            <div class="col-lg-4" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a  asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a  asp-area="" asp-controller="Destinos" asp-action="Index">Destinos</a></li>
                <li class="breadcrumb-item" aria-current="page">Promoções</li>
                <li class="breadcrumb-item"><a  asp-area="" asp-controller="Home" asp-action="Contato">Contato</a></li>
              </ol>
            </div>
            <div class="col-lg-4 row text-end">
              <a href="#" class="col-2 link-secondary socialmedia"><i class="bi bi-instagram"></i></a>
              <a href="#" class="col-2 link-secondary socialmedia"><i class="bi bi-twitter"></i></a>
              <a href="#" class="col-2 link-secondary socialmedia"><i class="bi bi-youtube"></i></a>
            </div>
          </div>
        </div>
  </footer>